h1 {
    font-family: 'Comic Sans MS';
}

.row-before-full-hour {
    border-bottom: 2px solid gray !important;
}

tbody tr th {
    text-align: end;
}

td {
    word-break: break-word;
    /* TODO: word-break or table-responsive */
}

table {
    font-size: small;
}


/* timeline style from https://mdbootstrap.com/docs/standard/extended/timeline/#basic-example-with-icons */

.timeline-with-icons {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
}

.timeline-with-icons .timeline-item {
    position: relative;
}

.timeline-with-icons .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline-with-icons .timeline-icon,
.timeline-with-icons .timeline-icon-2 {
    position: absolute;
    left: -48px;
    background-color: hsl(217, 88.2%, 90%);
    color: hsl(217, 88.8%, 35.1%);
    border-radius: 50%;
    height: 31px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline-with-icons .timeline-icon {
    background-color: hsl(217, 88.2%, 90%);
    color: hsl(217, 88.8%, 35.1%);
}

.timeline-with-icons .timeline-icon-2 {
    background-color: rgb(208, 252, 207);
    color: rgb(9, 129, 25);
}